body {
    background-color: black;
    margin: 0 auto;
}
.container {
    margin: 0 auto;
    width: 100%;
}
.img {
    width: 100%;
    background-image: url(../img/backgrounds/landing.jpg);
    height: 600px;
}

/*positioning menu image and content */

.overlay {
    padding-top: 10%;
    padding-left: 7%;
}
p {
    color: snow;
    font-size: 30px;
}
span {
    font-weight: 800;
}

/*******
********second row with 4
columns******/

.two {
    width: 100%;
    height: 200px;
    margin: 0 auto;
}
.hour {
    background-color: floralwhite;
    color: black;
    height: 100px;
}
.time {
    background-color: red;
    color: white;
    height: 100px;
}
.breakfast {
    height: 200px;
    background-image: url(../img/foodtop/breakfast.jpg);
}
.lunch {
    height: 200px;
    background-image: url(../img/foodtop/lunch.jpg);
}
.dinner {
    height: 200px;
    background-image: url(../img/foodtop/dinner.jpg)
}
.border {
    border: 15px solid white;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .8);
}
.white {
    background-color: snow;
    padding-top: 100px;
}
.row4 {
    color: black;
    font-size: 12px;
    line-height: 22px;
}
.drinks {
    text-align: right;
}
.img2 {
    background-image: url(../img/backgrounds/foodsBg.jpg);
}
.row6 {
    margin-top: 10%;
    height: 400px;
    background-color: snow;
}
.row7 {
    text-align: center;
}
.red {
    color: red;
}
.black {
    color: black;
}
.y {
    height: 20px;
}
.pad {
    padding: 10%
}
